GIFLoader.xcodeproj/xcuserdata/Brian.xcuserdatad/xcschemes/GIFLoader.xcscheme
GIFLoader.xcodeproj/xcuserdata/Brian.xcuserdatad/xcschemes/TodayGIF.xcscheme
GIFLoader.xcodeproj/xcuserdata/Brian.xcuserdatad/xcschemes/xcschememanagement.plist
